/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: 'Nordstern-Light';
  src: url('../images/fonts/NordsternDemo-Hell.ttf') format('truetype');
}

@font-face {
  font-family: 'Nordstern-Medium';
  src: url('../images/fonts/NordsternDemo-Normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Nordstern-Heavy';
  src: url('../images/fonts/NordsternDemo-Dunkel.ttf') format('truetype');
}

/* Examples:
 .test-this-shit-light {
   font-family: 'Nordstern-Light';
 }
 .test-this-shit-medium {
   font-family: 'Nordstern-Medium';
 }
 .test-this-shit-heavy {
   font-family: 'Nordstern-Heavy';
 }*/

 /* ==========================================================================
   Fonts-End
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.softLanding {
  margin-top: 2em;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

/* Enter Page Styles */
body{
/*  background-repeat: no-repeat;
*//*  background-image: url("../images/bg.png");
*/  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.splashImage {
  width: 100%;
  min-height: 670px;
  background-repeat: no-repeat;
  background-image: url("../images/bg.png");
  background-size: 100%;
  /*font-family: "learning-curve-dashed", cursive;*/
}

/*==========WISH LIST===============*/

/*@font-face {
  font-family: dottedScriptFont;
  src: url ("/assets/fonts/LearningCurveDashed.ttf");
}*/
.wish-title {
  /*font-family: dottedScriptFont;*/
  font-family: Nordstern-Heavy;
  background-color: whitesmoke;
  color: #6B142E;
  text-align: center;
  font-size: 2em;
}

.column {
  /*float: left;*/
  /*font-family: Nordstern-Medium;*/
  background-color: white;
  width: 100%;
  /*text-align: center;*/
  max-height: 150px;
  /*padding-bottom: 80px;*/

}

.fulfilled {
  max-height: 1em;
}

.wish-item {
  position: relative;
  /*padding: 5px;*/
  /*max-width: 75px;*/
  max-height: 125px;
  /*text-align: center;*/
  display: inline-block;
  /*padding-left: 25px;*/
  border-bottom: 1px solid #6B142E;
  padding-bottom: 2em;
  padding-top: 1em;
  padding-right: 1em;
}

.wish-links {
  /*position: absolute;*/
  bottom: 1em;
  display: block;
  right: 1em;
  padding-right: 2em;
  position: absolute;
}

.wish-item-image {
  float: left;
  padding-left: 1em;
  /*display: inline-block;*/
}

.item-description {
  /*display: inline-block;*/
  /*font-family: Nordstern-Light;*/
  float: right;
}

/*=====================================*/
.h1-header {
  padding-top: 20%;
  text-align: center;
  font-size: xx-large;
  position: absolute;
}

.button {
  background-image: url("../images/logo.png");
  display: block;
  padding: 80px;
  color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: 150px;
}

.container {
  min-height: 3em;
  width: 100%;
  font-size: 16px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: 0 !important;
  background-color: whitesmoke;
  color: #999999;
  text-align: center;
}

.columns {
  float: left;
  background-color: white;
  width: 50%;
  text-align: center;
  padding-bottom: 80px;


}

.sa {
  position: relative;
  padding: 5px;
  max-width: 150px;
  max-height: 200px;
  padding-left: 25px;
}

.search-icon {
  height: 25px;
  padding-left: 10px;
}


/* Nav Menu */



.clearfix {
  background: #191919;
}

div.nav-menu {
  width: 100%;
  position: fixed;
  bottom:0;
  left:0;
}

div.nav-menu ul li {
  float: left;
}

div.nav-menu ul li:hover {
  background-color: #6B142E;
}

div.nav-menu ul li a:link,
div.nav-menu ul li a:visited {
  display: block;
  padding: 20px 40px 20px 40px;
}

.search-product-form{
  margin-top: 1em;
  height: 3em;
  background-color: whitesmoke;
}

 #product-search {
  margin-top: 1em;
  height: 3em;
 }

 .search-icon {

}

 input {
  height: 2em;
  font-size: 16px;
 }

 .search {
  width: 15em;
 }



/* Back Button */
.back-arrow {
  padding-top: 20px;
  padding: 20px;
}

/* Product Show Page */

.product-info {
  text-align: center;
}

.show-page {
  background-color: white;
  color: dimgrey;
}

.prod-image {
  max-height: 300px;
  max-width: 100%;
  padding-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

/* Text on Show Page
*/
.prod-name {
  color: dimgrey;
  text-align: center;
  font-size: larger;
  display: block;
}

.prod-url {
  text-decoration: none;
}

/*.text-reg {
  text-align: -webkit-center;
}





/* ==========================================================================
   Helper classes
   ==========================================================================

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */



.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}